.contacts {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.contacts.tel {
    width: 10px;
    height: 16px;
}

.contacts:hover {
    color: var(--accent-color);
}

.contacts:focus {
    color: var(--accent-color);
}