.social-list {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    &:last-child {
            margin-right: 0;
        }
}



.social__item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    &:last-child {
     margin-right: 0;
    }
}



.social__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    &:hover,
    &:focus,
        &.f:hover,
        &.f:focus {
            border-radius: 50%;
            background-color: #2196f3;
            color: #ffffff;
        }
}

.social__icon {
    width: 20px;
    height: 20px;
    background-position: center;
    fill: currentColor;
    &:last-child {
            margin-right: 0;
        }
}

.social__item.f {
    margin-right: 10px;
}

.social__item.f:last-child {
    margin-right: 0;
}

