:root {
    --main-text-color: #757575;
    --title-color: #212121;
    --hero-color: #ffffff;
    --accent-color: #2196f3;
    --border-color: #ececec;
    --footer-color: #2f303a;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --background-modal: rgba(0, 0, 0, 0.2);
}