.section-team {
    background-color: #f5f4fa;


}

.team-list {
    display: flex;

    @media screen and (min-width:480px) {
        justify-content: center;
        flex-wrap: wrap;
    }

    @media screen and (min-width:768px) {
        gap: 30px;

    }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;

    }
}

.team__member {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 500;
}

.team__job {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
}

.member-img {

    @media screen and (min-width:480px) {
        width: 450px;
        height: auto;


    }

}

.team__item {
    background-color: var(--hero-color);
    // margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (min-width:480px) {
        margin-bottom: 30px;

    }

    @media screen and (min-width:768px) {
        max-width: 354px;

    }

}



.initials {
    padding-top: 30px;
    padding-bottom: 30px;
}